{{define "Index"}}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Nome da loja como titulo da pagina-->
    <title>Loja do Henrique Mendonça</title>
</head>
<body>
    <!--Nome da loja como heading 1 da pagina-->
    <h1>Loja do Henrique Mendonça</h1>

    <!--Tabela de produtos da loja-->
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Camiseta</td>
                <td>Estilo neutro</td>
                <td>30</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Desktop Gamer</td>
                <td>Muito poderoso</td>
                <td>20000</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}